.header {
    display: flex;
    justify-content: space-between;
}

.header_infor {
    display: flex !important;
}

.header_infor a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.header_infor a:hover{
    color: gray;
}